<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="triangle" class="org.koushik.javabrains.Triangle" name="triangle-name" >
		<property name="pointA">
			<!-- This is to provide full proof validation to only look for the bean id not the name and alias while the ref can look for alias and name as well.-->
			<idref ="zeroPoint" />
		</property>
		<property name="pointB">
			<bean class="org.koushik.javabrains.Point" >
				<property name="x" value="0" />
				<property name="y" value="20" />
			</bean>
		</property>
		<property name="pointC">
			<bean class="org.koushik.javabrains.Point" >
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="org.koushik.javabrains.Point" >
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	
	<!--  We can make aliases to the bean objects and ref attribute can access through alias as well as id and name -->
	<alias name="triangle" alias="triangle-alias" />
	
</beans>